/* .navbar-brand {
  color: green !important;
} */

* {
  margin: 0;
  padding: 0;
}

i {
  font-size: 35px;
  cursor: pointer;
  margin: 0 10px;
  color: black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 3%;
  margin: 50px 0;
}
.total-price span {
  font-size: 30px;
}

.total {
  font-weight: bold;
}
.list-products {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 70%;
}
.card {
  padding: 5%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity {
  font-size: 25px;
}

.card-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.fa-trash-alt {
  color: #de6b5c;
}


.fa-trash-alt {
  color: #de6b5c;
  cursor: pointer;
  font-size: 20px;
}
.fa-heart.active {
  color: red;
}
.total-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}
.wrapper{
  height: 120px;
  min-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
}
.wrapper span{
  width: 100%;
  text-align: center;
  font-size: 55px;
  font: weight 600 ;
cursor: pointer;
}
.wrapper span.num{
  font-size: 50px;
  border-right:  2px solid rgba(0,0,0,0,2);
  border-left:  2px solid rgba(0,0,0,0,2);
  pointer-events: none;
}